<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <title>FarmLand Login</title>
        <link rel="icon" type="image/x-icon" href="../assets/favicon.png">
    </head>
    <body>
        <div class="row" style="height:100vh;width:100%;">
            <div class="col-md-6 d-flex flex-row justify-content-center align-items-center flex-wrap" >
                <img src="../assets/dairy.png" style="object-fit: cover;height: 100%;" alter="farmland dairy"/>
            </div>
            <div class="col-md-6 d-flex flex-row justify-content-center align-items-center flex-wrap">
                <div class="d-flex flex-column">
                    <div class="card" style="width: 30rem; padding:20px;margin:20px;">
                        <h5 class="card-title">Sign in</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Welcome back to farmland.</h6>
                        <div class="card-body">
                            <form id="signin">
                                <div class="mb-3">
                                    <label for="userEmail" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="userEmail" placeholder="name@example.com" required>
                                    <div id="emailfeedback" class="invalid-feedback"> </div>
                                </div>
                                <div class="mb-3">
                                    <label for="userPassword" class="form-label">Password</label>
                                    <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
                                        <div class="col-mb-11 flex-fill">
                                            <input type="password" class="form-control" id="userPassword" required>
                                            <div id="passwordfeedback" class="invalid-feedback"> </div>  
                                        </div>
                                        <div class="col-mb-1">
                                            <img id="viewpassword" src="../assets/Icons/icons8-closed-eye-32.png">
                                        </div>
                                    </div>                           
                                    <div class="form-text">
                                        A good password 
                                        contains eight or more characters,
                                        a numeric number,
                                        a special character eg !,# ,
                                        both upper case and lower letters.</p>
                                    </div>                                                                      
                                </div>
                                <div class="mb-3 d-flex flex-row justify-content-around align-items-center flex-wrap">
                                    <button type="submit" class="btn btn-primary">Sign in</button>
                                    <button type="button" class="btn btn-secondary" onclick="signUp()">Sign up</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer bg-transparent d-flex flex-row justify-content-end align-items-center">
                            <button type="button" class="btn btn-link" onclick="forgotPassword()">Forgot your password </button>
                        </div>
                    </div> 
                    <div id="errormessage" role="alert" style="margin: 20px;">
                    </div> 
                </div>                
            </div>
        </div>
    </body>
</html>
<script>
    let errormessage=document.getElementById("errormessage")
    let form=document.getElementById("signin")
    let password=document.getElementById("userPassword")
    let email=document.getElementById("userEmail")
    let viewpassword=document.getElementById("viewpassword")
    
    viewpassword.addEventListener("click",()=>{
        if(password.type==="password"){
            viewpassword.src="../assets/Icons/icons8-eye-32.png"
            password.type="text"
        }else{
            password.type="password"
            viewpassword.src="../assets/Icons/icons8-closed-eye-32.png"
        }
    })

    email.addEventListener("keyup",()=>{
        let text=document.getElementById("emailfeedback")
        if(email.value===""){
            text.innerText="email is required"
            email.className="form-control is-invalid"
        }
        else if(!email.value.match(/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/g)){
            text.innerText="invalid email format"
            email.className="form-control is-invalid"
        }else{
            email.className="form-control is-valid"
        }
    })

    password.addEventListener("keyup",()=>{
        let text=document.getElementById("passwordfeedback")
        if(password.value===""){
            text.innerText="password is required"
            password.className="form-control is-invalid"
        }
        else if(!password.value.match(/[a-z]/g)) {
            text.innerText="password must have a lower case letter"
            password.className="form-control is-invalid"
        }
        else if(!password.value.match(/[A-Z]/g)) {
            text.innerText="password must have an upper case letter"
            password.className="form-control is-invalid"
        }
        else if(!password.value.match(/[0-9]/g)) {
            text.innerText="password must have a number"
            password.className="form-control is-invalid"
        }
        else if(!password.value.match(/[^A-Za-z0-9]/g)){
            text.innerText="password must have a special character"
            password.className="form-control is-invalid"
        }
        else if(password.value.length < 8) {
            text.innerText="password must be eight or more characters"
            password.className="form-control is-invalid"
        }else{
            password.className="form-control is-valid"
        }
    })

    form.addEventListener("submit",(event)=>{
        event.preventDefault()
        event.stopPropagation()
        if(password.classList.contains("is-invalid")|| email.classList.contains("is-invalid")){
            return
        }        
        const data=JSON.stringify({Email:event.target.userEmail.value,Password:event.target.userPassword.value})
        if(data!=="undefined"){
           fetch("{{.Url}}"+"/signin",{
            method:"POST",
            headers:{
                "Content-Type":"application/json",
            },credentials:"include",
            body:data,
           }).then(response=> {
                return response.json()
            })
           .then(data=>{
                if(data.hasOwnProperty("Error")){
                    errormessage.className="alert alert-warning"
                    errormessage.innerText=data.Error
                }else{
                    errormessage.className="alert alert-success"
                    errormessage.innerText="user authenticated successfully"
                    window.location.href="/"
                }
           })
           .catch(e=>{
                errormessage.className="alert alert-danger"
                errormessage.innerText=e.message
           })
           .finally(()=>{
             setTimeout(()=>{
                errormessage.className=""
                errormessage.innerText=""
             },5000)
           }) 
        }  
    })

    function signUp(){
        window.location.href = "/signup"
    }

    function forgotPassword(){
        window.location.href = "/forgot"
    }

</script>